body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}
h1:hover {
  color: #9f84f0;
}
h1 {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

header {
  position: sticky;
  top: 0;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem 0;
  animation: fadeIn 1s ease-in-out;
  z-index: 100;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.header-title {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.header-subtitle {
  font-size: 1rem;
  font-weight: lighter;
}

.social-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem;
}

.social-box {
  flex: 0 0 calc(33.33% - 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 10px;
  border: 2px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out, border-color 0.2s ease-in-out,
    background-color 0.2s ease-in-out;
  text-decoration: none;
  color: #333;
}

.social-box:hover {
  transform: scale(1.1);
  border-color: #999;
  background-color: #f4f5ce;
}

.social-box img {
  max-width: 70px;
  max-height: 70px;
  margin-bottom: 10px;
}

.social-name {
  font-size: 16px;
  font-weight: bold;
}

.social-box.facebook {
  border-color: #1877f2;
}

.social-box.twitter {
  border-color: #1da1f2;
}

.social-box.instagram {
  border-color: #c13584;
}

.social-box.youtube {
  border-color: #ff0000;
}

.social-box.pinterest {
  border-color: #bd081c;
}

.social-box.google {
  border-color: #4285f4;
}

.social-box.flipkart {
  border-color: #ee1f25;
}

.social-box.amazon {
  border-color: #ff9900;
}

.social-box.nykaa {
  border-color: #ff3d00;
}

.social-box.linkedin {
  border-color: #0e76a8;
}

.social-box.snapchat {
  border-color: #fffc00;
}

.social-box.reddit {
  border-color: #ff4500;
}

.social-box.telegram {
  border-color: #0088cc;
}

.social-box.discord {
  border-color: #7289da;
}
.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
}
.dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown {
  text-align: center;
  background-color: #4e4a4a;
  padding: 1rem 0;
  border-top: 2px solid #333;
}

.dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown li {
  display: inline-block;
  margin: 0 20px;
}

.dropdown a {
  text-decoration: none;
  color: #efe3e3;
  font-weight: bold;
  transition: color 0.2s ease-in-out;
}

.dropdown a:hover {
  color: #ff8989;
}
